* {
    color: #333;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
body {
    margin: 0;
    height: 100vh;
    padding: 0;
    border: 0;
    background: #DFCFBE;
}
.form {
    font-family: 'Quicksand', sans-serif;
    background-color: #d1c9c9;
    height: 240px;
    width: 450px;
    border-radius: 20px;
    margin: 20px auto 20px auto;
    display: block;
    border: solid 1px #f8f9fa;
    text-align: center;
}

.row-one {
    padding: 20px;
}
.row-two {
    padding: 20px;
}
.text-input {
    width: 60px;
    height: 30px;
    border-radius: 10px;
    background-color: #faf7f7;
    border: none;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 17px;
}
.text-input:last-child {
    margin-bottom: 35px;
}
.text-input:hover {
    background-color: #f8f9fb;
}
#submit {
    font-family: 'Quicksand', sans-serif;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 140px;
    background-color: #fbfdfd;
    color: #333;
    margin: auto;
    display: block;
    outline: none;
    cursor: pointer;
    font-size: 17px;
}
#submit:hover {
    background-color: #f6f8f9;
}
.text {
    display: inline-block;
    margin: 5px 20px 5px 8px;
}
.row-one {
    padding: 30px 20px 15px 20px;
}
.row-two {
    padding: 15px 20px 30px 20px;
}
.container {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
}
.container input {
    position: absolute;
    opacity: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #f6f8f9;
    border-radius: 50%;
}
.container:hover input ~ .checkmark {
    background-color: #333;
}
.container input:checked ~ .checkmark {
    background-color: #333;
}
h1 {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    color: #fafafb;
    padding-top: 15px;
    display: block;
}
h2 {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
}
h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    padding: 15px;
    color: #333;
}
h3 b {
    font-size: 32px;
    font-weight: 300;
    color: #faf6f6;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


/* RESULT PAGE */

body {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
.container1 {
    margin-top: 50px;
    margin-bottom: 20px;
}
h1 {
    font-size: 42px;
    margin-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
}
#p1{
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
}
ul{
    font-size: 18px;
}
.result {
    font-size: 18px;
    margin-bottom: 10px;
}
.modebar-container {
    display: none !important; /* Hide the toolbar */
}
#plotcontainer {
    border: 2px solid black;
    padding: 1px;
    display: inline-block;
    margin-right: 10px; /* Add margin between graph and instructions */
    margin-top: 50px;
    background-color: white;
    margin: 0 10px; /* Add this line */

}
.container2 {
    display: flex;
    align-items: top; /* Align items vertically */
    justify-content: center; /* Center items horizontally */
}
.bubble {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 80px;
    display: inline-block;
    justify-content: center; /* Center items horizontally */
}

.bubble-yellow {
    background-color: yellow;
}

.bubble-green {
    background-color: green;
}

.bubble-brown {
    background-color: #B5651D;
}
.bubble-darkbrown {
    background-color: #654321 ;
}
.bubble-red {
    background-color: red;
}

.plancontainer{
    display: flex;
            justify-content: space-between;
            margin-top: 30px;
}

.plan{
    width: 40%; 
            padding: 5px;
            border: 1px solid black;
            border-radius: 5px;
            box-sizing: border-box;
            margin: 0 10px; 
}

.plan ul{
    text-align: justify;
    margin: 0;
    text-wrap: wrap;
}

.plan li {
    padding: 15px 0;
    margin-right: 20px;
}

