<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bmi-style.css') }}">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{{ url_for('static', filename='bmi.js') }}"></script>
      </head>
      <body>
        <h3>BMI Calculator and Health Planner !!</h3>
      <form method="POST" class="form" id="form" >
      <div class="row-one">
        <input type="text" class="text-input" id="age" autocomplete="off" required/><p class="text">Age</p>
        <label class="container">
        <input type="radio" name="radio" id="f"><p class="text">Female</p>
          <span class="checkmark"></span>
        </label>
        <label class="container">
        <input type="radio" name="radio" id="m"><p class="text">Male</p>
          <span class="checkmark"></span>
        </label>
        </div>
      <div class="row-two">
        <input type="text" class="text-input" id="height" name="height" autocomplete="off" required><p class="text">Height (cm)</p>
        <input type="text" class="text-input" id="weight" name="weight" autocomplete="off" required><p class="text">Weight (kg)</p>
      </div>
      <button type="submit" id="submit">Submit</button>
      </form>
      <br>
      <div id="resultContainer"> </div>
    </body>
    <script>
      // Decrement the number of users when the page is closed by the user
      window.addEventListener('beforeunload', function(event) {
            fetch('/decrement_users', { method: 'POST' });
        });    
    </script>
</html>
